<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krugdev.gestordeestudo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Grafico"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetalhesCiclo"
            android:label="Detalhes do Ciclo"
            android:parentActivityName=".Ciclo"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.krugdev.gestordeestudo.Grafico" />
        </activity>
        <activity
            android:name=".EditarCiclo"
            android:label="Editar Ciclo"
            android:parentActivityName=".DetalhesCiclo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetalhesCiclo" />
        </activity>
        <activity
            android:name=".Ciclo"
            android:label="Gestor de Estudo"
            android:parentActivityName=".Grafico" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.krugdev.gestordeestudo.Grafico" />
        </activity>
        <activity
            android:name=".selecionarCor"
            android:label="Selecionar Cor"
            android:parentActivityName=".EditarCiclo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditarCiclo" />
        </activity>
        <activity
            android:name=".EditarDisciplina"
            android:label="Editar Disciplina"
            android:parentActivityName=".EditarCiclo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.krugdev.gestordeestudo.EditarCiclo" />
        </activity>
    </application>

</manifest>
